* {
  text-decoration: none;
  list-style: none;
  padding: 0; /*Добавил*/
  margin: 0; /*Добавил*/
  box-sizing: border-box; //*Добавил*/
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}
/*Добавил*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*Добавил*/
ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
/*Добавил*/
img {
  display: block;
  max-width: 100%;
}
/*Добавил*/
a {
  text-decoration: none;
  color: inherit;
}
/*добавил*/
.container {
  max-width: 1158px;
  margin: 0px 156px;
  padding: 0px 15px;
}
.top-line-bg {
  background: #fff;
  border-bottom: 1px solid #e7e9fc; /* Добавил толщину рамки хедера*/
}
/*Добавил*/
.header-content {
  display: flex; /* элементы расположены в строчку*/
  justify-content: space-between; /* между элементами равные промежутки*/
  align-items: center; /* расположить элементы по центру*/
  width: 1128px; /*Ширина контента*/
  margin: 0 auto; /*промежутки обнулены*/
}
.logo-link.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 115px; /* Добавил ширину логотипа*/
  margin-right: 76px; /* Добавил расстояние в право до следующего єлемента*/
  height: 24px; /*Добавил высоту логотипа*/
  display: flex; /*создаем контейнер*/
  align-items: center; /* НОВОЕ: чтобы текст логотипа был по центру */
  text-decoration: none; /* чтобы не подчеркивалось*/
}
.logo-studio {
  color: #2e2f42;
}
/*Добавил*/
.top-nav {
  display: flex; /*Элементы блока навигации расположены в строчку*/
  align-items: center; /*Размещение элементов по вертикали*/
}
.menu-nav {
  display: flex; /*флекс-контейнер*/
  gap: 40px; /* НОВОЕ: отступы между пунктами меню */
  list-style: none;
  width: 261px; /*Добавил ширину блока навигации*/
}
.menu-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.menu-nav a:hover,
.menu-nav a:focus {
  color: #404bbf;
}
.menu-nav li:first-child a:active {
  text-decoration: underline; /* подчеркивается при нажатии мышкой только первый элемент списка*/
}
.site-menu-nav {
  padding: 24px 0;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
/*Добавил контейнер с контактами*/
.contacts {
  display: flex; /*контакты расположены в строчку*/
  justify-content: space-between; /*у элементов одинаковые промежутки*/
  align-items: center; /*элементы расположены по центру*/
  margin-left: 332px; /* промежуток от контактов влево до навигации*/
  gap: 40px; /* Промежуток между контактами*/
  width: 344px; /*Размер блока контактов из макета*/
}
.contacts li {
  padding: 24px 0px; /*Добавляем паддинги для ссылок с контактами*/
}
/*Добавил*/
.contacts:last-child {
  margin-right: 156px; /*последний ребенок из списка имеет правый отступ */
}
.dark-bg {
  background: #2e2f42;
  padding: 188px 0; /*добавил*/
  width: 100%; /*добавил*/
}
.container {
  max-width: 1158px;
  margin: 0px 156px;
  padding: 0px 15px;
}
.hero-content {
  display: flex; /*добавил*/
  justify-content: center; /*добавил*/
  align-items: center; /*добавил*/
  flex-direction: column; /*добавил*/
}
.hero-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px; /*добавил*/
  margin-bottom: 48px; /*добавил*/
}
.hero-btn {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block; /*добавил*/
  min-width: 169px; /*добавил*/
  height: 56px; /*добавил*/
  border: none; /*добавил*/
  background-color: #4d5ae5; /*добавил*/
  border-radius: 4px; /*добавил*/
  border: none; /*добавил*/
  text-align: center; /*добавил*/
  white-space: nowrap; /*добавил*/
  margin: 0 auto; /*добавил*/
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.features {
  background: #fff;
  padding: 120px 0; /*добавил*/
}
.container {
  max-width: 1158px;
  margin: 0px 156px;
  padding: 0px 15px;
}
/*добавил*/
.title-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect (0 0 0 0);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-content {
  display: flex; /*добавил*/
  gap: 24px; /*добавил*/
}
.features-item {
  width: calc((100% - 72px) / 4); /*добавил*/
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; /*добавил*/
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.light-bg {
  background: #f4f4fd;
  padding: 120px 0; /*добавил*/
}
.container {
  max-width: 1158px;
  margin: 0px 156px;
  padding: 0px 15px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}
.team-list {
  gap: 24px;
  display: flex; /*добавил*/
  margin-top: 72px;
}
.team-card {
  background: #fff;
  border-radius: 0px 0px 4px 4px; /*добавил*/
  width: 264px; /*добавил ширину карты*/
  height: 428px; /*Добавил высоту карты*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*добавил*/
  transition: transform 0.3s ease, box-shadow 0.3s ease; /*добавил*/
  display: flex; /*добавил*/
  flex-direction: column; /*добавил*/
  overflow: hidden; /*добавил*/
  width: calc((100% – 72px) / 4); /*добавил*/
}
.team-card:hover,
.team-card:focus {
  transform: translateY(-5px); /*добавил*/
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /*добавил*/
}
.team-content {
  width: 232px; /*добавил*/
  height: 104px; /*добавил*/
  margin: 32px auto; /*добавил*/
  display: flex; /*добавил*/
  flex-direction: column; /*добавил располагает в столбик элементы*/
  align-items: center; /*добавил*/
  text-align: center; /*добавил*/
  padding: 32px 0px; /*добавил*/
  justify-content: center; /*по горизонтали центрирование*/
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center; /*добавил*/
  margin-bottom: 8px; /*добавил*/
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center; /*добавил*/
  margin-bottom: 8px; /*добавил*/
}
.team-icons {
  width: 232px; /*добавил*/
  height: 40px; /*добавил*/
  display: flex; /*добавил*/
  justify-content: center;
  gap: 24px;
}
.team-icons img {
  width: 40px; /*добавил*/
  height: 40px; /*добаил*/
  display: block; /*добавил*/
  cursor: pointer; /*добавил*/
  transition: transform 0.2s ease, filter 0.2s ease; /*добавил*/
}
/*добавил*/
.team-icons img:hover {
  transform: scale(1.06);
  filter: brightness(1.1);
}
.section-portfolio {
  background: #fff;
  padding: 120px 0 120px 0; /*добавил*/
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px; /*добавил*/
}
.portfolio-list {
  display: flex; /*добавил*/
  width: 1128px; /*добавил*/
  margin: 0 auto; /*добавил*/
  flex-wrap: wrap; /*добавил*/
  gap: 24px; /*добавил*/
  row-gap: 48px; /*добавил*/
}
/*добавил*/
.portfolio-item {
  position: relative;
  width: 360px;
  height: 420px;
  background: #fff;
}
/*добавил*/
.portfolio-item img {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}
/*добавил*/
.card-content {
  width: 360px;
  height: 120px;
  padding: 32px 16px;
  box-sizing: border-box;
  border: 1px solid #e7e9fc; /*добавил*/
  border-top: none; /*добавил*/
}
/*добавил*/
.item-overlay-container {
  position: relative;
  width: 360px;
  height: 300px;
}
/*добавил*/
.item-overlay-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}
/* Добавил */
.overlay-img {
  position: relative;
  width: 100%;
  height: 100%;
}
/* Добавил */
.overlay-img img:first-child {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Добавил */
.overlay-img img:last-child {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Добавил */
.overlay-img:hover img:first-child {
  display: none;
}

/* Добавил */
.overlay-img:hover img:last-child {
  display: block;
}
.text-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute; /*добавил*/
  top: 40px; /*добавил*/
  left: 32px; /*добавил*/
  right: 32px; /*добавил*/
  pointer-events: none; /*добавил*/
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; /*добавил*/
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0; /*добавил*/
}
.footer-section-dark-bg {
  background: #2e2f42;
  padding: 100px 0; /*добавил*/
}
.logo-link-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block; /*добавил*/
  margin-bottom: 16px; /*добавил*/
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px; /*добавил*/
}
