* {
  text-decoration: none;
  list-style: none;
  padding: 0; /*Добавил*/
  margin: 0; /*Добавил*/
  box-sizing: border-box; //*Добавил*/
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}
/*Добавил*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*Добавил*/
ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
/*Добавил*/
img {
  display: block;
}
/*Добавил*/
a {
  text-decoration: none;
  color: inherit;
}
/*добавил*/
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
}
.top-line-bg {
  background: #fff;
  border-bottom: 1px solid #e7e9fc; /* Добавил толщину рамки хедера*/
}
/*добавил*/
.top-line-bg .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 115px; /* Добавил ширину логотипа*/
  margin-right: 76px; /* Добавил расстояние в право до следующего єлемента*/
  display: flex; /*создаем контейнер*/
  align-items: center; /* НОВОЕ: чтобы текст логотипа был по центру */
  text-decoration: none; /* чтобы не подчеркивалось*/
  padding: 24px 0; /*Добавил*/
}

.logo-studio {
  color: #2e2f42;
}
/*Добавил*/
.top-nav {
  display: flex; /*Элементы блока навигации расположены в строчку*/
  align-items: center; /*Размещение элементов по вертикали*/
}
/*добавил*/
.menu-nav {
  display: flex; /*флекс-контейнер*/
  gap: 40px; /* НОВОЕ: отступы между пунктами меню */
  list-style: none;
  width: 261px; /*Добавил ширину блока навигации*/
  margin-right: 332px; /* промежуток от контактов влево до навигации*/
}
.menu-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center; /*добавил*/
}
.menu-nav a:hover,
.menu-nav a:focus {
  color: #404bbf;
}
.menu-nav li:first-child a:active {
  text-decoration: underline; /* подчеркивается при нажатии мышкой только первый элемент списка*/
}
/*добавил*/
.site-menu-nav {
  padding: 24px 0;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
/*Добавил контейнер с контактами*/
.contacts {
  display: flex; /*контакты расположены в строчку*/
  justify-content: space-between; /*у элементов одинаковые промежутки*/
  align-items: center; /*элементы расположены по центру*/
  gap: 40px; /* Промежуток между контактами*/
}
/*добавил*/
.contacts li {
  padding: 24px 0px; /*Добавляем паддинги для ссылок с контактами*/
}
.dark-bg {
  background: #2e2f42;
  padding: 188px 0; /*добавил*/
  width: 100%; /*добавил*/
  display: flex; /*добавил*/
  justify-content: center; /*добавил*/
  align-items: center; /*добавил*/
}
.hero-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px; /*добавил*/
  margin-bottom: 48px; /*добавил*/
}
.hero-btn {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block; /*добавил*/
  min-width: 169px; /*добавил*/
  height: 56px; /*добавил*/
  border: none; /*добавил*/
  background-color: #4d5ae5; /*добавил*/
  border-radius: 4px; /*добавил*/
  border: none; /*добавил*/
  text-align: center; /*добавил*/
  white-space: nowrap; /*добавил*/
  margin: 0 auto; /*добавил*/
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.features {
  background: #fff;
  padding: 120px 0; /*добавил*/
}
/*добавил*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*добавил*/
.features-content {
  display: flex; /*добавил*/
  gap: 24px; /*добавил*/
}
/*добавил*/
.features-item {
  width: calc((100% - 72px) / 4); /*добавил*/
}
.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; /*добавил*/
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.light-bg {
  background: #f4f4fd;
  padding: 120px 0; /*добавил*/
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px; /*добавил*/
}
/*добавил*/
.team-list {
  gap: 24px;
  display: flex; /*добавил*/
}
.team-card {
  background: #fff;
  border-radius: 0px 0px 4px 4px; /*добавил*/
  flex-direction: column; /*добавил*/
  width: calc((100% – 72px) / 4); /*добавил*/
}
.team-card:hover,
.team-card:focus {
}
.team-content {
  flex-direction: column; /*добавил располагает в столбик элементы*/
  align-items: center; /*добавил*/
  text-align: center; /*добавил*/
  padding: 32px 0px; /*добавил*/
  justify-content: center; /*по горизонтали центрирование*/
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center; /*добавил*/
  margin-bottom: 8px; /*добавил*/
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center; /*добавил*/
  margin-bottom: 8px; /*добавил*/
}
.section-portfolio {
  background: #fff;
  padding: 120px 0 120px 0; /*добавил*/
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px; /*добавил*/
}
/*добавил*/
.portfolio-list {
  display: flex; /*добавил*/
  flex-wrap: wrap; /*добавил*/
  gap: 24px; /*добавил*/
  row-gap: 48px; /*добавил*/
  margin-bottom: 0; /*добавил*/
}
/*добавил*/
.portfolio-item {
  width: 360px;
  background: #fff;
}
/*добавил*/
.card-content {
  width: 360px;
  height: 120px;
  padding: 32px 16px;
  box-sizing: border-box;
  border: 1px solid #e7e9fc; /*добавил*/
  border-top: none; /*добавил*/
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; /*добавил*/
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-section-dark-bg {
  background: #2e2f42;
  padding: 100px 0; /*добавил*/
  width: 100%; /*Добавил*/
}
.logo-link-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block; /*добавил*/
  margin-bottom: 16px; /*добавил*/
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px; /*добавил*/
}
